body{
    margin: 0;
    overflow-x: hidden;
}

header{
    background-image: url(../imagenes/orange_BG.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 900px;
    position: relative;
    top: -10px;
}

.clase_logo{
    width: 200px;
    position: absolute;
    left: 650px;
    top: 40px;

}

.cinta{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.c_home{
    position: absolute;
    left: 350px;
    top:40px ;
}

.c_about{
    position: absolute;
    left: 480px;
    top:40px ;
}

.c_products{
    position: absolute;
    left: 1000px;
    top:40px ;
}

.c_contact{
    position: absolute;
    left: 1200px;
    top:40px ;
}

.clase_facebook{
    position: relative;
    width: 10px;
    height: 20px;
    left: 1370px;
    top: 50px;

}
.clase_twitter{
    position: relative;
    width: 20px;
    height: 20px;
    left: 1390px;
    top: 50px;
}
.clase_instagram{
    position: relative;
    width: 20px;
    height: 20px;
    left: 1400px;
    top: 50px;

}

.img_circle{
    width: 500px;
    height: 500px;
    position: absolute;
    left: 1300px;
    top: 100px;
}

.img_green{
    width: 500px;
    height: 500px;
    position: absolute;
    left: 1290px;
    top: 100px;
    z-index: 3;
}

.img_purple{
    width: 300px;
    height: 800px;
    position: absolute;  
    top: 100px;
}

.img_huella_ama{
    width: 70px;
    height: 70px;
    position: absolute;
    left: 230px;
    top: 300px;
}

.img_c_purple{
    width: 110px;
    height: 100px;
    position: absolute;
    left: 400px;
    top: 200px;
}

.img_c_verde{
    width: 50px;
    height: 40px;
    position: absolute;
    left: 450px;
    top: 280px;
}

.img_h_verde{
    width: 60px;
    height: 40px;
    position: absolute;
    left: 580px;
    top: 310px;
}

.img_h_ama{
    width: 250px;
    height: 200px;
    position: absolute;
    left: 1000px;
    top: 240px;
}

.img_globo_woof{
    width: 300px;
    height: 230px;
    position: absolute;
    left: 200px;
    top: 600px;
}
.img_huella_verde{
    width: 160px;
    height: 150px;
    position: absolute;
    left: 1000px;
    top: 560px;
}

.img_cinturon{
    width: 350px;
    height: 530px;
    position: absolute;
    left: 600px;
    top: 190px;
}

.letra{
    color: white;
    font-size: 200px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    left: 350px;
    top: 300px;
    
}